<!DOCTYPE html>
<html lang="en">

<head>

  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">

  <title>Clean Blog - Start Bootstrap Theme</title>

  <!-- Bootstrap core CSS -->
  <link href="{{ url_for('static',filename = 'bootstrap.min.css') }}" rel="stylesheet">
  <link href="{{ url_for('static',filename = 'style.css') }}" rel="stylesheet">

  <!-- Custom fonts for this template -->

  <link href="{{ url_for('static',filename='fontawesome.min.css') }}" rel="stylesheet" type="text/css">
  <link href='https://fonts.googleapis.com/css?family=Lora:400,700,400italic,700italic' rel='stylesheet' type='text/css'>
  <link href='https://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,400,300,600,700,800' rel='stylesheet' type='text/css'>
  <link href='https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css' rel='stylesheet' type='text/css'>


  <!-- Custom styles for this template -->
  <link href="{{ url_for('static',filename='clean-blog.min.css')}}" rel="stylesheet">

</head>

<body>

  <!-- Page Header -->
  <header class="masthead" style="background-image: url('{{ url_for('static',filename='home-bg.jpg')}}')">
    <div class="overlay"></div>
    <div class="container">
      <div class="row">
        <div class="col-lg-8 col-md-10 mx-auto">
          <div class="site-heading">
            <h1>Easy Anti-theft</h1>
            <span class="subheading">select to find</span>
          </div>
        </div>
      </div>
    </div>
  </header>
  <!-- search bar -->

{#   <!-- search bar -->#}
{#  <div class="search-box">#}
{#    <div class="row">#}
{#      <div class="col-lg-8 col-md-10 mx-auto">#}
{#        <form name="addForm" id="addForm" method="POST" action="{{ url_for('get_items') }}" novalidate>#}
{#          <div class="control-group">#}
{#            <div class="form-group floating-label-form-group controls">#}
{#              <label>Title</label>#}
{#              <input type="text" class="form-control" placeholder="Enter search title" name = "title" id="name" required data-validation-required-message="Please enter a title.">#}
{#              <p class="help-block text-danger"></p>#}
{#            </div>#}
{#          </div>#}
{#          <div id="success"></div>#}
{#          <div class="form-group">#}
{#            <button type="submit" class="btn btn-primary" id="sendMessageButton">Send</button>#}
{#          </div>#}
{#        </form>#}
{#      </div>#}
{#    </div>#}
{#  </div>#}

  <hr>

  <!-- Main Content -->
  <div class="container list-group">
    <div class="row">
      <div class="col-lg-8 col-md-10 mx-auto">
       {% for post in posts %}
          <div class="post-preview">

          <a class="btn btn-primary btn-lg btn-block" href="{{ url_for('get_image',name=post.object_name) }}" role="button">{{ post.object_name }}</a>

{#          <a href="{{ url_for('get_image',name=post.object_name) }}" class="list-group-item list-group-item-action"}> {{ post.object_name }}</a>#}
        </div>


          {% endfor %}
        <hr>
        <!-- Pager -->

      </div>

    </div>
  </div>

  <hr>

  <!-- Footer -->
  <footer>
    <div class="container">
      <div class="row">
        <div class="col-lg-8 col-md-10 mx-auto">
          <p class="copyright text-muted">Copyright &copy; Your Website 2019</p>
        </div>
      </div>
    </div>
  </footer>

  <!-- Bootstrap core JavaScript -->
  <script src="{{ url_for('static',filename='jquery.min.js') }}"></script>
  <script src="{{ url_for('static',filename='bootstrap.bundle.min.js') }}"></script>

  <!-- Custom scripts for this template -->
  <script src="{{ url_for('static',filename='clean-blog.min.js') }}"></script>

</body>

</html>
